<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Evento</title>
    <link rel="stylesheet"  href="/css/evento.css">
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
</head>
<body>

    <nav class="menu-lateral">

        <div class="btn-expandir">
            <i class="bi bi-list" id="btn-exp"></i>
        </div><!--btn-expandir-->

        <ul>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-person-circle"></i></span>
                    <span class="txt-link">Seu perfil</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-shield-fill-check"></i></span>
                    <span class="txt-link">Privacidade</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-calendar3"></i></span>
                    <span class="txt-link">Agenda</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-gear"></i></span>
                    <span class="txt-link">Configurações</span>
                </a>
            </li>
            <li class="item-menu">
                <a th:href="@{/logout}">
                    <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                    <span class="txt-link">Sair</span>
                </a>
            </li>
        </ul>

    </nav><!--menu-lateral-->

    <header class="header"> 
        <!---<img src="/css/img/Modelo Logo.png" alt="imagem-logo" class="logo-inicio" id="logo-inicio-home">-->
        <ul class="ulContainer">
            <li>
                <a class="links" th:href="@{/perfil}">
                    <div class="icon-container">
                        <img src="/css/img/profileIcon.png" alt="Perfil" class="icon">
                        <div class="line"></div>
                    </div>
                </a>
            </li>

            <li>
                <a class="links" th:href="@{/usuarios}">
                    <div class="icon-container">
                        <img src="/css/img/UsersIcon.png" alt="Usuários" class="icon" >
                        <div class="line"></div>
                    </div>
                </a>
            </li>


            <li>
                <a class="links" th:href="@{/home}" >
                <div class="icon-container">
                    <img src="/css/img/homeIcon.png" alt="Home" class="icon">
                    <div class="line"></div>
                </div>
                </a>
            </li>

            <li>
                <a class="links">
                    <div class="icon-container">
                        <img src="/css/img/PostIcon.png" alt="Eventos" class="icon" id="iconeBotao" style="border-bottom: 4px solid rgb(255, 69, 69);">
                        <div class="line"></div>
                    </div>
                </a>
            </li>

       
            <li>
                <a class="links" th:href="@{/notificacoes}" > 
                    <div class="icon-container">
                        <img src="/css/img/notification-bell.png" alt="Eventos" class="icon" > 
                        <div class="line"></div>
                    </div>
                </a>
            </li>
        </ul>

        <!--Botao de chat-->
        <a href="#" class="Btn" type="submit" id="btn-logout-link2">
            <div class="sign"><i class="bi bi-chat-dots"></i></div>
            <div class="text" id="conversas-chat">
                <p id="conversas">Conversas</p>
            </div>
        </a>
    </header>

    <div class="container">


    <div class="center-content" id="center-notificacoes">

        <style>
            #center-notificacoes{
                transition: 0.6s;
                box-shadow: 5px 5px 20px purple;
            }

            .container{
                margin-left: 21%;
                width: 100%;
           }
        </style>


                   
            <!--Container de criar evento-->
        <!--Fazer o Post-->
        <section id="criar-evento-section">
            <div class="container-ev">
                <h1>
                    Criar Evento
                </h1>
                <form action="criar-evento" method="POST" enctype="multipart/form-data">
                    <input type="text" name="titulo" placeholder="Titulo" required>
                    <textarea placeholder="Descrição"  name="descricao" id="" cols="10" rows="10" required></textarea>
                    <input class="btn-foto" type="file" name="imagemEvento" required>
                    <button class="ui-btn" type="submit">
                        <span>
                          Criar
                        </span>
                    </button>
                </form>
                             
            </div>              
    </section>
   


    <footer>
        <ul>
            <li><a class="links-foot" th:href="@{/perfil}">Perfil</a></li>
            <li><a class="links-foot" th:href="@{/home}">Feed</a></li>
            <li><a class="links-foot" th:href="@{/usuarios}" style=" border-bottom: 4px solid rgb(255, 65, 65);">Usuarios</a></li>
            <li><a class="links-foot" th:href="@{/evento}">Evento</a></li>
        </ul>
    </footer>
    <script src="/css/js/barraLateral.js"></script>

</body>
</html>