<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Home</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/home.js"></script>
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
</head>
<body>
    <header class="header"> 
        <img src="/css/img/Modelo Logo.png" alt="imagem-logo" class="logo-inicio" id="logo-inicio-home">
 
        <ul class="ulContainer">
            <li>
                <a class="links" th:href="@{/perfil}">
                    <div class="icon-container">
                        <img src="/css/img/profileIcon.png" alt="Perfil" class="icon">
                        <div class="line"></div>
                    </div>
                </a>
            </li>

         <li>
        <a class="links" th:href="@{/usuarios}">
            <div class="icon-container">
                <img src="/css/img/UsersIcon.png" alt="Usuários" class="icon">
                <div class="line"></div>
            </div>
        </a>
        </li>


        <li><a class="links" th:href="@{/home}" >
            <div class="icon-container">
                <img src="/css/img/homeIcon.png" alt="Home" class="icon"  style="border-bottom: 4px solid rgb(255, 69, 69);">
            </div>
            </a>
        </li>

        <li>
            <a class="links" th:href="@{/evento}">
                <div class="icon-container">
                    <img src="/css/img/PostIcon.png" alt="Eventos" class="icon">
                    <div class="line"></div>
                </div>
            </a>
        </li>
        <li>
            <a class="links" th:href="@{/notificacoes}">
                <div class="icon-container">
                    <img src="/css/img/notification-bell.png" alt="Eventos" class="icon" >
                    <div class="line"></div>
                </div>
            </a>
        </li>
        </ul>
        
        <a th:href="@{/logout}" class="Btn" type="submit" id="btn-logout-link2">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Sair</div>
        </a>
    </header>

    <div class="container">
        <!-- Informações do Usuario -->
        <div class="left-sidebar">
            <img class="imgPerfil" 
            th:if="${sessionUsuario.fotoPerfil != null}" 
            th:src="@{'/perfil-imagem/' + ${sessionUsuario.id}}" 
            alt="Foto de Perfil" /> 
            <img class="imgPerfil" 
                th:unless="${sessionUsuario.fotoPerfil != null}" 
                src="/css/img/fotoPerfil.jpg" 
                alt="" 
                id="imgPerfil-vazio" />
            <h2><span class="arroba">@</span><span th:text="${sessionUsuario.username}"></span></h2>
            <h3 class="descricaoUser"><span th:text="${sessionUsuario.descricao}"></span></h3>

            <button class="btn-notificacoes" id="toggleNotifications">
                <svg viewBox="0 0 448 512" class="bell">
                    <path d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"></path>
                </svg>
                Notificações
            </button>
            
            <div class="bloco-noti"  id="notificationBlock">
                <ul>
                    <li class="lista-notificacoes" th:each="notification : ${notifications}">
                        <span class="notifications" th:text="${notification.message}"></span>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- Feed -->
        <div class="center-content">
            <h1>Feed</h1>
            <div th:each="evento : ${eventos}" class="evento-bloco">

                <!-- Bloco Esquerdo Evento -->
                <div class="bloco-evento-left">
                    <h3><span class="arroba">@</span><span th:text="${evento.autor.username}"></span></h3>
                    <img id="imagemEvento_${evento.id}" class="imgEvento" th:src="@{'/evento-imagem/' + ${evento.id}}" alt="foto">
                    
                </div>
                


                <!-- Bloco da Direita Evento -->
                <div class="bloco-evento-right">
                    <h2 th:text="${evento.titulo}"></h2>
                    <p th:text="${evento.descricao}"></p>
            
                    <!-- Bloco onde ficam os comentários -->
                    <div class="comentarios hidden" >
                        <ul class="ul-comentarios">
                            <li th:each="comentario : ${evento.comentarios}">
                                <div class="bloco-usuario">
                                    <span class="arroba">@</span>
                                    <p th:text="${comentario.autor.username}"></p>
                                </div>
                                <div class="bloco-comentario">
                                    <p th:text="${comentario.texto}"></p>
                                </div>
                            </li>
                        </ul>
                            <!-- Bloco com input para fazer um comentário -->
                            <div class="bloco-evento-comenta">
                                <form th:action="@{'/evento/' + ${evento.id} + '/comentar'}" method="post">
                                    <input name="texto" placeholder="Digite seu comentário" required>
                                    <button type="submit">Comentar</button>
                                </form>
                            </div>
                    </div>

                    
                    <form th:action="@{'/curtirEvento/' + ${evento.id}}" method="post">
                        <button type="submit">Curtir</button>
                    </form>


                     <form th:action="@{'/descurtiEvento/' + ${evento.id}}" method="post">
                        <button type="submit">Descurtir</button> 
                    </form>
                
                    
                    <!-- Botão abrir comentários -->
                    <button class="chatBtn">
                        <svg height="1.6em" fill="white" xml:space="preserve" viewBox="0 0 1000 1000" y="0px" x="0px" version="1.1">
                            <path d="M881.1,720.5H434.7L173.3,941V720.5h-54.4C58.8,720.5,10,671.1,10,610.2v-441C10,108.4,58.8,59,118.9,59h762.2C941.2,59,990,108.4,990,169.3v441C990,671.1,941.2,720.5,881.1,720.5L881.1,720.5z M935.6,169.3c0-30.4-24.4-55.2-54.5-55.2H118.9c-30.1,0-54.5,24.7-54.5,55.2v441c0,30.4,24.4,55.1,54.5,55.1h54.4h54.4v110.3l163.3-110.2H500h381.1c30.1,0,54.5-24.7,54.5-55.1V169.3L935.6,169.3z M717.8,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.5,24.7,54.5,55.2C772.2,420.2,747.8,444.8,717.8,444.8L717.8,444.8z M500,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.4,24.7,54.4,55.2C554.4,420.2,530.1,444.8,500,444.8L500,444.8z M282.2,444.8c-30.1,0-54.5-24.7-54.5-55.1c0-30.4,24.4-55.2,54.5-55.2c30.1,0,54.4,24.7,54.4,55.2C336.7,420.2,312.3,444.8,282.2,444.8L282.2,444.8z"></path>
                        </svg>
                        <span class="tooltip">Comentários&nbsp;<span th:text="${evento.comentarios.size()}"></span> </span>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- Função para aparecer os comentarios -->
    <script>
        const buttons = document.querySelectorAll('.chatBtn');
    
        buttons.forEach((button) => {
            button.addEventListener('click', () => {
                // Encontre o elemento pai que contém o botão e os comentários
                const parent = button.closest('.evento-bloco');
    
                // Encontre a div de comentários dentro do elemento pai
                const comentariosDiv = parent.querySelector('.comentarios');
    
                // Alternar a classe hidden nas divs de comentários
                if (comentariosDiv.classList.contains('hidden')) {
                    comentariosDiv.classList.remove('hidden');
                } else {
                    comentariosDiv.classList.add('hidden');
                }
            });
        });
    </script>

    <!-- Função para mostar as notificações -->
    <script>
        // Adicione um evento de clique ao botão de notificações
        document.getElementById('toggleNotifications').addEventListener('click', function () {
            var blocoNoti = document.querySelector('.bloco-noti');

            if (blocoNoti.style.display === 'none' || blocoNoti.style.display === '') {
                blocoNoti.style.display = 'flex';
            } else {
                blocoNoti.style.display = 'none';
            }
        });
    </script>

    <footer>
        <ul>
            <li><a class="links-foot" th:href="@{/perfil}">Perfil</a></li>
            <li><a class="links-foot" th:href="@{/home}" style=" border-bottom: 4px solid rgb(255, 65, 65);">Feed</a></li>
            <li><a class="links-foot" th:href="@{/usuarios}">Usuarios</a></li>
            <li><a class="links-foot" th:href="@{/evento}">Evento</a></li>
        </ul>
    </footer>
</body>
</html>