<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Login</title>
    <link rel="stylesheet"  href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/tcs/src/main/resources/static/css/imagens/TCSicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    
    <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form method="post" action="/cadastro" class="cadastro-container"> 
            <h1>Cadastro</h1>
            <span>Insira seus dados</span>
            <input type="text" name="nome" class="form-control" placeholder="Nome Completo" required/>
            <input type="text" name="usuarioNome" class="form-control" placeholder="Nome de usuário" required/>
            <input type="email" name="email" class="form-control" placeholder="Email" required/>
            <input type="text" id="cpf" name="cpf" class="form-control" placeholder="CPF" required/>
            <input type="date" id="idade" name="idade" class="form-control" placeholder="Data de nascimento" required/>
              <input type="password" name="senha" class="form-control" id="senhaTrocaCadastro" placeholder="Informe a senha" required />
              <i id="toggle" class="fas fa-eye-slash password-toggle" onclick="togglePasswordVisibilityCadastro()"></i>
            <button type="submit">Cadastrar</button>
          </form>
          
        </div>
        <div class="form-container sign-in-container">
          <form action="/loginValida" method="post">
            <h1>GoParty</h1>
            <span>Insira seus dados</span>
            <span class="spanTexto"></span>
          
            <!--Conteiner de senha-->
          <div class="password-container">
            <input type="text" name="nome" class="form-control" placeholder="Nome de usuário" required/>
            <input type="password" name="senha" class="form-control" id="senhaTrocaLogin" placeholder="Informe a senha" required />
            <i id="toggle" class="fas fa-eye-slash password-toggle" onclick="togglePasswordVisibilityLogin()"></i>
          </div>
            
            <div th:if="${error}" class="error-message">
              <p th:text="${error}"></p>
            </div>
            <button type="submit">Login</button>
          </form>
          
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1 class="stake-h1">Login</h1>
              <p>Ja possui conta?</p>
              <button class="ghost" id="signIn">Login</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h2>Ainda não possui conta ?</h2>
              <p>Faça seu cadastro, <br>é rapido e facil!</p>
              <button class="ghost" id="signUp">Cadastro</button>
            </div>
          </div>
        </div>
    </div>
    
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');
    
        signUpButton.addEventListener('click', () => 
        container.classList.add('right-panel-active'));
    
        signInButton.addEventListener('click', () =>
        container.classList.remove('right-panel-active'));

          $(document).ready(function(){
            $('#cpf').mask('000.000.000-00', {reverse: true});
        });

        //MOSTRAR E OCULTAR SENHA 
     function togglePasswordVisibilityLogin() {
      var senhaInput = document.getElementById("senhaTrocaLogin");
      var toggleButton = document.getElementById("toggle");

      if (senhaInput.type === "password") {
        senhaInput.type = "text";
        toggleButton.classList.remove("fa-eye-slash");
        toggleButton.classList.add("fa-eye");
      } else {
        senhaInput.type = "password";
        toggleButton.classList.remove("fa-eye");
        toggleButton.classList.add("fa-eye-slash");
      }
    }

    function togglePasswordVisibilityCadastro() {
      var senhaInput = document.getElementById("senhaTrocaCadastro");
      var toggleButton = document.getElementById("toggle");

      if (senhaInput.type === "password") {
        senhaInput.type = "text";
        toggleButton.classList.remove("fa-eye-slash");
        toggleButton.classList.add("fa-eye");
      } else {
        senhaInput.type = "password";
        toggleButton.classList.remove("fa-eye");
        toggleButton.classList.add("fa-eye-slash");
      }
    }
    
    
    </script>  
</body>
</html>