<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Notificações</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
</head>
<body>
    <header class="header"> 
        <img src="/css/img/Modelo Logo.png" alt="imagem-logo" class="logo-inicio" id="logo-inicio-home">
        <ul class="ulContainer">
            <li>
                <a class="links" th:href="@{/perfil}">
                    <div class="icon-container">
                        <img src="/css/img/profileIcon.png" alt="Perfil" class="icon">
                        <div class="line"></div>
                    </div>
                </a>
            </li>

            <li>
                <a class="links" th:href="@{/usuarios}">
                    <div class="icon-container">
                        <img src="/css/img/UsersIcon.png" alt="Usuários" class="icon" >
                        <div class="line"></div>
                    </div>
                </a>
            </li>


            <li>
                <a class="links" th:href="@{/home}" >
                <div class="icon-container">
                    <img src="/css/img/homeIcon.png" alt="Home" class="icon">
                    <div class="line"></div>
                </div>
                </a>
            </li>

            <li>
                <a class="links" th:href="@{/evento}">
                    <div class="icon-container">
                        <img src="/css/img/PostIcon.png" alt="Eventos" class="icon">
                        <div class="line"></div>
                    </div>
                </a>
            </li>

       
            <li>
                <a class="links" th:href="@{/notificacoes}" > 
                    <div class="icon-container">
                        <img src="/css/img/notification-bell.png" alt="Eventos" class="icon" style="border-bottom: 4px solid rgb(255, 69, 69);"> 
                    </div>
                </a>
            </li>
        </ul>

        
        
        <a th:href="@{/logout}" class="Btn" type="submit" id="btn-logout-link2">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Sair</div>
        </a>
    </header>

    <div class="container">
        <div class="left-sidebar" id="container-left">
           <h1>
            Indique o GoParty para os seus amigos
           </h1>

           <p>Basta copiar e compartilhar este link <br>
        <span>
            <a href="">goparty/convite/23323.com</a>
        </span></p>
            
           <img src="/css/img/wedding-card.png" alt="">
        </div>
        
        <div class="center-content" id="center-notificacoes-usuario">
            <div class="input-pesquisa">
    
         <h1>Notificações</h1>
                    <!--Lista de notificações-->
                    <ul>
                        <li th:each="notification : ${notifications}">
                            <span class="notifications" th:text="${notification.message}"></span>
                        </li>
                    </ul>
             </div>
         </div>
    </div>

    <li th:each="notification : ${notifications}">
        <span class="notifications" th:text="${notification.message}"></span>
    </li>

    <footer>
        <ul>
            <li><a class="links-foot" th:href="@{/perfil}">Perfil</a></li>
            <li><a class="links-foot" th:href="@{/home}">Feed</a></li>
            <li><a class="links-foot" th:href="@{/usuarios}" style=" border-bottom: 4px solid rgb(255, 65, 65);">Usuarios</a></li>
            <li><a class="links-foot" th:href="@{/evento}">Evento</a></li>
        </ul>
    </footer>

</body>
</html>