<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Perfil</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
</head>
<body>
    <!-- Header -->
    <header class="header"> 
        <img src="/css/img/Modelo Logo.png" alt="imagem-logo" class="logo-inicio" id="logo-inicio-home">

        <ul class="ulContainer">
            <li>
                <a class="links" th:href="@{/perfil}">
                    <div class="icon-container">
                        <img src="/css/img/profileIcon.png" alt="Perfil" class="icon"  style="border-bottom: 4px solid rgb(255, 69, 69);">
                        
                    </div>
                </a>
            </li>

         <li>
        <a class="links" th:href="@{/usuarios}">
            <div class="icon-container">
                <img src="/css/img/UsersIcon.png" alt="Usuários" class="icon">
                <div class="line"></div>
            </div>
        </a>
        </li>

        <li><a class="links" th:href="@{/home}" >
            <div class="icon-container">
                <img src="/css/img/homeIcon.png" alt="Home" class="icon">
                <div class="line"></div>
            </div>
        </a></li>

        <li>
            <a class="links" th:href="@{/evento}">
                <div class="icon-container">
                    <img src="/css/img/PostIcon.png" alt="Eventos" class="icon">
                    <div class="line"></div>
                </div>
            </a>
        </li>
        </ul>
        
        <a th:href="@{/logout}" class="Btn" type="submit" id="btn-logout-link2">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Sair</div>
        </a>
    </header>
    
    <!-- Section principal da tela -->
    <section class="container">

        <!-- Parte Esquerda Informações do Usuario -->
        <div class="left-sidebar">
        
        <!-- Imagem de Perfil Usuario -->
        <img class="imgPerfil" 
            th:if="${sessionUsuario.fotoPerfil != null}" 
            th:src="@{'/perfil-imagem/' + ${sessionUsuario.id}}" 
            alt="Foto de Perfil" />
        <img class="imgPerfil" 
            th:unless="${sessionUsuario.fotoPerfil != null}" 
            src="/css/img/fotoPerfil.jpg" 
            alt="" 
            id="imgPerfil-vazio" />
        
        <!-- Informações do Usuario -->
        <h2><span class="arroba">@</span><span th:text="${sessionUsuario.username}"></span></h2>
        <div class="info">
            <h3 class="descricaoUser"><span th:text="${sessionUsuario.descricao}"></span></h3>
            <h4><span th:text="${sessionUsuario.email}"></span></h4>
            <h4><span th:text="${sessionUsuario.cpf}"></span></h4>
            <h4><span id="dataNascimento" th:text="${sessionUsuario.idade}"></span></h4>
            <h4><span id="dataNascimentoFormadata"></span></h4>
        </div>
        
        <!-- Form para mudar informações de Conta -->
        <form method="POST" action="/editar" class="edit-form" style="display: none;" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="username" id="edit-nome" placeholder="Novo Usuario">
                <input type="text" name="email" id="edit-email" placeholder="Novo Email">
                <input type="text" name="descricao" id="edit-descricao" placeholder="Nova Descrição">
                <input type="password" name="senha" id="edit-senha" placeholder="Nova Senha">
                <button id="btn-salvar">Salvar</button>                
        </form>
        
        <!-- Form para mudar foto do Perfil -->
        <form class="edit-form" action="/upload" method="POST" enctype="multipart/form-data" style="display: none;">
            <!-- Use uma label personalizada para o input de arquivo -->
            <label for="fotoPerfil" id="upload-label">Escolha uma foto</label>
            <input type="file" name="fotoPerfil" id="fotoPerfil">
            <div id="file-name"></div>
            <!-- Botão de envio personalizado -->
            <input type="submit" value="Enviar" id="enviar">
        </form>
        
        <!-- Bloco com Botões de Config da Conta -->
        <div class="altera">
            <!-- Botão para abrir as Edições -->
            <button class="Btn-editar" id="btn-editar">
                <div class="sign">+</div>
                <div class="text">Editar</div>
            </button>
            <!-- Botão para Excluir a Conta -->
            <form action="/deletar" method="post" id="form-excluir">
                <input type="hidden" name="_method" value="DELETE">
                    <button class="btn-excluir" id="btn-excluir">
                        <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
                    </button>
            </form>
                
            </div>
        </div>
    
        <!-- Feed com seus Post -->
        <div class="center-content">
            <h1>Seus Role</h1>
            <div th:each="evento : ${eventos}" class="evento-bloco">

                <!-- Parte da Esquerda do Post -->
                <div class="bloco-evento-left">
                    <h3><span class="arroba">@</span><span th:text="${evento.autor.username}"></span></h3>
                    <img class="imgEvento" th:src="@{'/evento-imagem/' + ${evento.id}}" alt="foto">
                </div>

                <!-- Parte da Direita do Post -->
                <div class="bloco-evento-right">
                    <!-- Parte de cima do Post aonde tem os Botões -->
                    <div class="evento-up">
                        <h2 th:text="${evento.titulo}"></h2>

                        <!-- Botão para Excluir o Post -->
                        <form th:action="@{'/excluir-evento/' + ${evento.id}}" method="post" onsubmit="return confirm('Tem certeza de que deseja excluir este post?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="delete-button">
                                <svg class="delete-svgIcon" viewBox="0 0 448 512">
                                                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                                </svg>
                            </button>
                        </form>

                        <!-- Botão para Editar o Post -->
                        <button class="edit-button open-modal" th:attr="data-target='#modal-${evento.id}'">
                            <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                            </svg>
                        </button>

                        <!-- Modal de Edições do Post -->
                        <div id="modal-${evento.id}" class="modal modal-evento">
                            <div class="editar-evento">
                                <form method="POST" th:action="@{'/editar-evento/' + ${evento.id}}" enctype="multipart/form-data">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input type="text" name="titulo" placeholder="Titulo">
                                    <textarea  name="descricao" placeholder="Descrição" cols="10" rows="10" ></textarea>
                                    <input class="btn-foto" type="file" name="imagemEvento">
                                    <button class="ui-btn" type="submit">
                                        <span>
                                        Salvar
                                        </span>
                                    </button>
                                </form>
                                <button class="fechar close-modal" id="close-modal">
                                    x
                                </button>
                            </div>
                        </div>
                    </div>
                    <p th:text="${evento.descricao}"></p>
                    <div class="bloco-comentarios">
                        aaa
                    </div>
                </div>
            </div>            
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Abrir e Fechar Modal -->
    <script>
        const openModalButtons = document.querySelectorAll('.open-modal');
        openModalButtons.forEach(button => {
            button.addEventListener('click', () => {
                const modal = button.nextElementSibling; // Obtém o modal associado ao botão clicado
                modal.style.display = 'block'; // Mostra o modal
            });
        });

        // Obtém todos os botões de fechamento de modal e adiciona eventos de clique a eles
        const closeModalButtons = document.querySelectorAll('.close-modal');
        closeModalButtons.forEach(button => {
            button.addEventListener('click', () => {
                const modal = button.closest('.modal-evento'); // Obtém o modal associado ao botão clicado
                modal.style.display = 'none'; // Fecha o modal
            });
        });
    </script>

    <!-- Mostra os dados que estão sendo carregados da IMAGEM -->
    <script>
        // Exibir o nome do arquivo selecionado
        const fileInput = document.getElementById('fotoPerfil');
        const fileNameDisplay = document.getElementById('file-name');

        fileInput.addEventListener('change', function () {
            const fileName = fileInput.files[0].name;
            fileNameDisplay.textContent = `Arquivo selecionado: ${fileName}`;
        });
    </script>

    <!-- Abre o Formulario para editar as informações do usuario -->
    <script>
        $(document).ready(function() {
            // Quando o botão "Editar" for clicado
            $("#btn-editar").click(function() {
                // Toggle (alternar) a exibição do formulário de edição
                $(".edit-form").toggle();
            });

            // Quando o botão "Salvar" for clicado
            $("#btn-salvar").click(function() {
                // Obtenha os novos valores dos campos de edição
                var novoNome = $("#edit-nome").val();
                var novoEmail = $("#edit-email").val();
                var novaIdade = $("#edit-idade").val();
                var novaSenha = $("#edit-senha").val();
                // Após a atualização bem-sucedida, você pode ocultar o formulário de edição novamente:
                $(".edit-form").hide();
            });
        });

        document.getElementById('edit-form').addEventListener('submit', function (e) {
        e.preventDefault(); // Evita o envio padrão do formulário

        const formData = new FormData(this);
        const xhr = new XMLHttpRequest();

        xhr.open('PUT', '/editar', true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Lógica para lidar com a resposta após a atualização
            }
        };

        xhr.send(formData);

        function validarFormulario() {
        // Pega os valores dos campos
        var novoUsuarioNome = document.getElementById("edit-nome").value;
        var novoEmail = document.getElementById("edit-email").value;
        var novaDescricao = document.getElementById("edit-descricao").value;
        var novaIdade = document.getElementById("edit-idade").value;
        var novaSenha = document.getElementById("edit-senha").value;

        // Verifica se algum campo está preenchido
        if (
            novoUsuarioNome === "" &&
            novoEmail === "" &&
            novaDescricao === "" &&
            novaIdade === "" &&
            novaSenha === ""
        ) {
            // Nenhum campo preenchido, impedir envio
            alert("Preencha pelo menos um campo.");
            return false;
        }
        // Se algum campo estiver preenchido, permitir envio
        return true;
    }
    });

    </script>

    <!-- Pergunta pro usuario se ele realmente quer excluir sua conta -->
    <script>
        $(document).ready(function () {
        // Captura o clique no botão de exclusão
        $("#btn-excluir").click(function (event) {
            event.preventDefault(); // Evita que o formulário seja enviado imediatamente

            // Exibe um pop-up de confirmação
            if (confirm("Tem certeza de que deseja excluir sua conta? Esta ação não pode ser desfeita.")) {
                // Se o usuário confirmar, envie o formulário de exclusão
                $("#form-excluir").submit();
            }
        });
    });
    </script>

    <!-- Teste de carregamento da foto -->
    <script>
        // TESTE FOTO
        const fotoInput = document.getElementById("fotoInput");
        const fotoExibida = document.getElementById("fotoExibida");
        const fotoVazia = document.getElementById('imgPerfil-vazio');
        
        fotoInput.addEventListener("change", function () {
            const file = fotoInput.files[0];
            fotoExibida.style.display = "";
            fotoVazia.style.display = "none";

            if (file && file.type.startsWith("image/")) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    fotoExibida.src = e.target.result;
                };

                reader.readAsDataURL(file);
            } else {
                alert("Por favor, selecione uma imagem válida.");
            }
        });
    </script>

    <!-- Formatação da data de nascimento -->
    <script>
        // Recuperar o elemento span pelo ID
        var spanElement = document.getElementById("dataNascimento");

        // Obter o valor não formatado da data de nascimento
        var dataNascimentoNaoFormatada = spanElement.textContent;

        // Formatar a data usando JavaScript (supondo que a data esteja no formato "yyyy-MM-dd")
        var partesData = dataNascimentoNaoFormatada.split("-");
        var dataFormatada = partesData[2] + "/" + partesData[1] + "/" + partesData[0];

        // Exibir a data formatada em outro elemento, por exemplo, em um div com o ID "dataFormatada"
        spanElement.style.display = "none";
        var divElement = document.getElementById("dataNascimentoFormadata");
        divElement.textContent = dataFormatada;

    </script>

</body>
</html>