<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Perfil</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header"> 
        <h1 class="logo">GoParty</h1>
        <ul class="ulContainer">
            <li><a class="links" th:href="@{/perfil}" style="border-bottom: 4px solid rgb(255, 65, 65);">Perfil</a></li>
            <li><a class="links" th:href="@{/usuarios}">Usuarios</a></li>
            <li><a class="links" th:href="@{/home}">Feed</a></li>
            <li><a class="links" th:href="@{/evento}">Evento</a></li>
        </ul>
        <a th:href="@{/logout}" class="Btn" type="submit">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Sair</div>
        </a>
    </header>

    <!--/css/img/fotoPerfil.jpg-->

    <div class="container">
        <div class="left-sidebar">

        <form action="/editar" method="post" enctype="multipart/form-data">
            <img class="imgPerfil" src="/css/img/fotoPerfil.jpg" alt="" id="imgPerfil-vazio">
            <img class="imgPerfil" src="" alt="Foto não carregada!" id="fotoExibida">
        </form>

            <h2><span class="arroba">@</span><span th:text="${sessionUsuario.usuarioNome}"></span></h2>
            <div class="info">
                <h3><span th:text="${sessionUsuario.descricao}"></span></h3>
                <h4><span th:text="${sessionUsuario.email}"></span></h4>
                <h4><span th:text="${sessionUsuario.cpf}"></span></h4>
                <h4><span th:text="${sessionUsuario.idade}"></span></h4>
            </div>
            <form method="POST" action="/editar" class="edit-form" style="display: none;" enctype="multipart/form-data">
                <input type="file" name="url" id="fotoInput" accept="image/*">
                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="usuarioNome" id="edit-nome" placeholder="Novo Usuario">
                <input type="text" name="email" id="edit-email" placeholder="Novo Email">
                <input type="text" name="descricao" id="edit-descricao" placeholder="Nova Descrição">
                <input type="password" name="senha" id="edit-senha" placeholder="Nova Senha">
                <button id="btn-salvar">Salvar</button>
            </form>
            
            <div class="altera">
                <button class="Btn-editar" id="btn-editar">
                    <div class="sign">+</div>
                    <div class="text">Editar</div>
                </button>

                <form action="/deletar" method="post" id="form-excluir">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn-excluir" id="btn-excluir">
                        <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
                    </button>
                </form>
                
            </div>
        </div>
    
        <div class="center-content">
            <h1>Seus Role</h1>
            <div class="bloco-user">
                <div th:each="usuario : ${usuarios}" class="usuario-bloco">
                    <h3><span class="arroba">@</span><span th:text="${usuario.nome}"></span></h3>                    
                </div>
            </div>
        </div>
    
    </div>

    <footer>
        <ul>
            <li><a class="links-foot" th:href="@{/perfil}" style=" border-bottom: 4px solid rgb(255, 65, 65);">Perfil</a></li>
            <li><a class="links-foot" th:href="@{/home}">Feed</a></li>
            <li><a class="links-foot" th:href="@{/usuarios}">Usuarios</a></li>
            <li><a class="links-foot" th:href="@{/evento}">Evento</a></li>
        </ul>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Quando o botão "Editar" for clicado
            $("#btn-editar").click(function() {
                // Toggle (alternar) a exibição do formulário de edição
                $(".edit-form").toggle();
            });

            // Quando o botão "Salvar" for clicado
            $("#btn-salvar").click(function() {
                // Obtenha os novos valores dos campos de edição
                var novoNome = $("#edit-nome").val();
                var novoEmail = $("#edit-email").val();
                var novaIdade = $("#edit-idade").val();
                var novaSenha = $("#edit-senha").val();
                // Após a atualização bem-sucedida, você pode ocultar o formulário de edição novamente:
                $(".edit-form").hide();
            });
        });

        document.getElementById('edit-form').addEventListener('submit', function (e) {
        e.preventDefault(); // Evita o envio padrão do formulário

        const formData = new FormData(this);
        const xhr = new XMLHttpRequest();

        xhr.open('PUT', '/editar', true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Lógica para lidar com a resposta após a atualização
            }
        };

        xhr.send(formData);

        function validarFormulario() {
        // Pega os valores dos campos
        var novoUsuarioNome = document.getElementById("edit-nome").value;
        var novoEmail = document.getElementById("edit-email").value;
        var novaDescricao = document.getElementById("edit-descricao").value;
        var novaIdade = document.getElementById("edit-idade").value;
        var novaSenha = document.getElementById("edit-senha").value;

        // Verifica se algum campo está preenchido
        if (
            novoUsuarioNome === "" &&
            novoEmail === "" &&
            novaDescricao === "" &&
            novaIdade === "" &&
            novaSenha === ""
        ) {
            // Nenhum campo preenchido, impedir envio
            alert("Preencha pelo menos um campo.");
            return false;
        }
        // Se algum campo estiver preenchido, permitir envio
        return true;
    }
    });

    </script>
    <script>
        $(document).ready(function () {
        // Captura o clique no botão de exclusão
        $("#btn-excluir").click(function (event) {
            event.preventDefault(); // Evita que o formulário seja enviado imediatamente

            // Exibe um pop-up de confirmação
            if (confirm("Tem certeza de que deseja excluir sua conta? Esta ação não pode ser desfeita.")) {
                // Se o usuário confirmar, envie o formulário de exclusão
                $("#form-excluir").submit();
            }
        });
    });
    </script>
    <script>
        // TESTE FOTO

        const fotoInput = document.getElementById("fotoInput");
        const fotoExibida = document.getElementById("fotoExibida");
        const fotoVazia = document.getElementById('imgPerfil-vazio');
        
        fotoInput.addEventListener("change", function () {
            const file = fotoInput.files[0];
            fotoExibida.style.display = "block";
            fotoVazia.style.display = "none";

            if (file && file.type.startsWith("image/")) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    fotoExibida.src = e.target.result;
                };

                reader.readAsDataURL(file);
            } else {
                alert("Por favor, selecione uma imagem válida.");
            }
        });
    </script>
</body>
</html>