<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Perfil</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header"> 
        <img src="/css/img/Modelo Logo.png" alt="imagem-logo" class="logo-inicio" id="logo-inicio-home">

        <ul class="ulContainer">
            <li>
                <a class="links" th:href="@{/perfil}">
                    <div class="icon-container">
                        <img src="/css/img/profileIcon.png" alt="Perfil" class="icon">
                        <div class="line"></div>
                    </div>
                </a>
            </li>

         <li>
        <a class="links" th:href="@{/usuarios}">
            <div class="icon-container">
                <img src="/css/img/UsersIcon.png" alt="Usuários" class="icon"  style="border-bottom: 4px solid rgb(255, 69, 69);">
                
            </div>
        </a>
        </li>


        <li><a class="links" th:href="@{/home}" >
            <div class="icon-container">
                <img src="/css/img/homeIcon.png" alt="Home" class="icon">
                <div class="line"></div>
            </div>
        </a></li>

        <li>
            <a class="links" th:href="@{/evento}" >
                <div class="icon-container">
                    <img src="/css/img/PostIcon.png" alt="Eventos" class="icon" id="iconeBotao">
                    <div class="line"></div>
                </div>
            </a>
        </li>

        <li>
            <a class="links" th:href="@{/notificacoes}">
                <div class="icon-container">
                    <div class="contador-notificacao">
                        <div th:if="${notificacoesNaoVisualizadas > 0}" class="circulo">
                            <span th:text="${notificacoesNaoVisualizadas}"></span>
                        </div>
                    </div>
                    <img src="/css/img/notification-bell.png" alt="Eventos" class="icon" >
                    <div class="line"></div>
                </div>
            </a>
        </li>
        </ul>
        
        <a th:href="@{/logout}" class="Btn" type="submit" id="btn-logout-link2">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Sair</div>
        </a>
    </header>

    <div class="container">
         <!-- Onde ficará (Estou seguindo)  -->
         
        <div class="left-sidebar">

            <img class="imgPerfil" 
            th:if="${usuario.fotoPerfil != null}" 
            th:src="@{'/perfil-imagem/' + ${usuario.id}}" 
            alt="Foto de Perfil" />
       
            <img class="imgPerfil"
                th:unless="${usuario.fotoPerfil != null}" 
                src="/css/img/fotoPerfil.jpg" 
                alt="" 
                id="imgPerfil-vazio" />
            <h2><span class="arroba">@</span><span th:text="${usuario.username}"></span></h2>
            <div class="info">
                <h3 class="descricaoUser"><span th:text="${usuario.descricao}"></span></h3>
                
               
                <h4><span th:text="${usuario.email}"></span></h4>
                <!--Seguidores e seguindo -->
                
                <div class="seguidores-seguindo-container"> 
                    <a href="">
                         <p>Seguidores : <span class="qtde-seguir" th:text="${followersCount}"></p>
                     </a>
                     <a href="">
                         <p>Seguindo :  <span class="qtde-seguir" th:text="${followingCount}"></p>
                     </a>
                    </div>

                  <!--Botao de seguir usuário-->

                  <span th:if="${isNotFollower}">
                    <!-- Se o usuário da sessão não estiver seguindo o usuário do perfil, exiba o botão "Seguir" -->
                    <form method="post" action="/follow">
                        <button class="btn-perfil-follow" id="btn-follow" type="submit">
                            <strong>SEGUIR</strong>
                            <div id="container-stars">
                              <div id="stars"></div>
                            </div>
                          
                            <div id="glow">
                              <div class="circle"></div>
                              <div class="circle"></div>
                            </div>
                          </button>
                    </form>
                </span>

                <span th:unless="${isNotFollower}">
                <form method="post" action="/unfollow">
                    <button class="btn-perfil-follow" id="btn-unfollow" type="submit">
                        <strong>Seguindo</strong>
                        <div id="container-stars">
                          <div id="stars"></div>
                        </div>
                      
                        <div id="glow">
                          <div class="circle"></div>
                          <div class="circle"></div>
                        </div>
                      </button>
                </form>
            </span>

            </div>
        </div>
    
        <div class="center-content" id="center-perfil">

            <style>
                #center-perfil{
                    transition: 0.6s;
                    box-shadow: 5px 5px 20px purple;
                }
            </style>

            <h1>Seus Eventos</h1>
            <div th:each="evento : ${eventos}" class="evento-bloco">
                <div class="bloco-evento-left">
                    <h3><span class="arroba">@</span><span th:text="${evento.autor.username}"></span></h3>
                    <img class="imgEvento" th:src="@{'/evento-imagem/' + ${evento.id}}" alt="foto">
                </div>
                <div class="bloco-evento-right">
                    <h2 th:text="${evento.titulo}"></h2>
                    <p th:text="${evento.descricao}"></p>
                </div>  
            </div>
        </div>
    </div>
    
    <script src="/css/js/trocasContainer.js"></script>
</body>
</html>