<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet"  href="/css/recuperarSenha.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    
    <div class="form-container sign-in-container">
        <!--Formulario de Login-->
        <form action="/recuperaSenha" method="post">
          <h1> 
            <img src="/css/img/Modelo Logo.png" alt="" class="logo-inicio">
            <legend class="texto-titulos">Recuperação de senha</legend>
          </h1>
          <span class="texto-titulos">Informe o seu email cadastrado</span>
          <span class="spanTexto"></span>
        
        <!--Conteiner de recuperacao com os inputs solicitando email-->
      
        <div class="inputGroup">
          <input type="email" name="email" class="form-control" placeholder="Seu E-mail" autocomplete="off"/>
          <input type="email" name="email2" class="form-control" placeholder="Confime o seu E-mail" autocomplete="off"/>
        </div>
        <button type="submit" class="button" onclick="checarEmailsDigitados()">Enviar código</button>

        <div id="envioDoCodigo" class="inputGroup">
          <input type="text" name="email" class="form-control" placeholder="Digite o código recebido por e-mail" autocomplete="off"/>
          <button type="submit" class="button" onclick="liberarTrocaDeSenha()">Conferir</button>
        </div>
</body>

</html>