<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet"  href="/css/recuperarSenha.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    
          <!-- teste de formulario-->

          <div class="login-box">
 
            <h1> 
              <img src="/css/img/Modelo Logo.png" alt="" class="logo-inicio">
              <legend class="texto-titulos">Recuperação de senha</legend>
            </h1>

             <!--Container de código-->
            <form class="form" action="" id="form-codigo"> 
              <div class="title">Insira seu código</div> 
              <p class="message">Enviamos um código de verificação para seu E-mail</p> <div class="inputs"> <input id="input1" type="text" maxlength="1"> <input id="input2" type="text" maxlength="1"> <input id="input3" type="text" maxlength="1"> 
                <input id="input4" type="text" maxlength="1"> </div> <button type="submit"  class="action" onclick="verificarCodigo()">Verificar</button> 
              </form>

            <form action="/recuperaSenha" method="post" id="email-inputs-form">
              <div class="user-box">
                <input type="email" name="email" required="">
                <label>Digite o seu E-mail cadastrado</label>
              </div>
              <div class="user-box">
                <input type="email" name="email" required="">
                <label>Confirme o E-mail</label>
              </div><center>
              <a href="#" id="link-verificar-emails">
                     Enviar
                 <span></span>
              </a></center>
            </form>
           
          </div>

        <!--Conteiner de recuperacao com os inputs solicitando email-->

        <div id="envioDoCodigo" class="inputGroup">
          <input type="text" name="email" class="form-control" placeholder="Digite o código recebido por e-mail" autocomplete="off"/>
          <button type="submit" class="button" onclick="liberarTrocaDeSenha()">Conferir</button>
        </div>

        <script>
         
      var linkVerificarEmails = document.getElementById("link-verificar-emails");
      const emailInputForm = document.getElementById('email-inputs-form');
      const formCodigo = document.querySelector(".form");

      // Adicione um evento de clique ao elemento
       linkVerificarEmails.addEventListener("click", function(event) {
          // Evite o comportamento padrão do link (neste caso, redirecionar para "#")
          event.preventDefault();

          emailInputForm.style.display = "none";
          formCodigo.style.display = "flex";

});

        </script>
</body>

</html>