<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Usuarios</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
</head>
<body>
    <header class="header"> 
        <h1>
            <img src="/css/img/Modelo Logo.png" alt="imagem-logo" class="logo-inicio" id="logo-inicio-home">
        </h1>
        <ul class="ulContainer">
            <li><a class="links" th:href="@{/perfil}">Perfil</a></li>
            <li><a class="links" th:href="@{/usuarios}" style="border-bottom: 4px solid rgb(255, 65, 65);">Usuarios</a></li>
            <li><a class="links" th:href="@{/home}">Feed</a></li>
            <li><a class="links" th:href="@{/evento}">Evento</a></li>
        </ul>
        <a th:href="@{/logout}" class="Btn" type="submit">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Sair</div>
        </a>
    </header>

    <div class="container">
        <div class="left-sidebar">
            <h2><span class="arroba">@</span><span th:text="${sessionUsuario.username}"></span></h2>
        </div>
    
        <div class="center-content">
            <h1>Usuarios</h1>
            <div class="bloco-user">
                <div th:each="usuario : ${usuarios}" class="usuario-bloco">
                    <img class="imgUsuarios" src="/css/img/fotoPerfil.jpg" alt="">
                    <h3><span class="arroba">@</span><span th:text="${usuario.username}"></span></h3>
                    <div class="interacoes">
                        <button class="btn-perfil" >
                            <a th:href="@{/perfilUsuario/{id}(id=${usuario.id})}"><svg class="svgIcon" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg>
                                Perfil</a>
                         </button>                                                 
                    </div>
                </div>
            </div>
        </div>
        
    
    </div>


    <footer>
        <ul>
            <li><a class="links-foot" th:href="@{/perfil}">Perfil</a></li>
            <li><a class="links-foot" th:href="@{/home}">Feed</a></li>
            <li><a class="links-foot" th:href="@{/usuarios}" style=" border-bottom: 4px solid rgb(255, 65, 65);">Usuarios</a></li>
            <li><a class="links-foot" th:href="@{/evento}">Evento</a></li>
        </ul>
    </footer>
</body>
</html>