<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Usuarios</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
</head>
<body>
    <header class="header"> 
        <img src="/css/img/Modelo Logo.png" alt="imagem-logo" class="logo-inicio" id="logo-inicio-home">
        
        <ul class="ulContainer">
            <li>
                <a class="links" th:href="@{/perfil}">
                    <div class="icon-container">
                        <img src="/css/img/profileIcon.png" alt="Perfil" class="icon">
                        <div class="line"></div>
                    </div>
                </a>
            </li>

            <li>
                <a class="links" th:href="@{/usuarios}">
                    <div class="icon-container">
                        <img src="/css/img/UsersIcon.png" alt="Usuários" class="icon"  style="border-bottom: 4px solid rgb(255, 69, 69);">
                    </div>
                </a>
            </li>

            <li>
                <a class="links" th:href="@{/home}" >
                    <div class="icon-container">
                        <img src="/css/img/homeIcon.png" alt="Home" class="icon">
                        <div class="line"></div>
                    </div>
                </a>
            </li>

            <li>
                <a class="links" th:href="@{/evento}" >
                    <div class="icon-container">
                        <img src="/css/img/PostIcon.png" alt="Eventos" class="icon" id="iconeBotao">
                        <div class="line"></div>
                    </div>
                </a>
            </li>

            <li>
                <a class="links" th:href="@{/notificacoes}">
                    <div class="icon-container">
                        <div class="contador-notificacao">
                            <div th:if="${notificacoesNaoVisualizadas > 0}" class="circulo">
                                <span th:text="${notificacoesNaoVisualizadas}"></span>
                            </div>
                        </div>
                        <img src="/css/img/notification-bell.png" alt="Eventos" class="icon" >
                        <div class="line"></div>
                    </div>
                </a>
            </li>
        </ul>
        
        <a th:href="@{/logout}" class="Btn" type="submit" id="btn-logout-link2">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Sair</div>
        </a>
    </header>

    <div class="container">
        <div class="left-sidebar" id="container-left">
           <h1>
            Indique o GoParty para os seus amigos
           </h1>

           <p>Basta copiar e compartilhar este link <br>
        <span>
            <a href="">goparty/convite/23323.com</a>
        </span></p>
            
           <img src="/css/img/wedding-card.png" alt="">
        </div>
        

        <style>
           
        </style>

    <div class="center-content" id="center-usuarios">
        <div class="input-pesquisa"> 
             <!--Search bar -->
         
             <div class="search">
                 <form action="/usuarios" method="post">
                 <input type="text" class="search__input" placeholder="Pesquise aqui" name="nomeDigitado" id="input-pesquisar">
                 <button class="search__button" type="submit">
                     <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                         <g>
                             <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                         </g>
                     </svg>
                 </button>
             </form>
         </div>

         </div>
         <div class="main-container">
                
                 <div th:each="usuario : ${usuarios}" class="cards">

                    <a th:href="@{/perfilUsuario/{id}(id=${usuario.id})}">

                        <img th:src="@{'/perfil-imagem/' + ${usuario.id}}" alt="fotoUser" th:if="${usuario.temImagemPerfil()}" />
                        <img src="/css/img/fotoPerfil.jpg" alt="Imagem Padrão" th:unless="${usuario.temImagemPerfil()}" />
                        <h4><span class="arroba">@</span><span th:text="${usuario.username}"></span></h4>
                        <p class="descricaoUser"><span th:text="${usuario.descricao}"></span></p>

                    </a>
                     <!--Botões de seguir o usuário mostrado (TESTE)-->
                        <!-- Se o usuário da sessão não estiver seguindo o usuário do perfil, exiba o botão "Seguir" -->
                        <form method="post" action="/follow"  th:if="${seguirStatusMap[usuario.id] == false}">
                            <button class="btn-perfil-follow-usuarios" id="btn-follow-usuarios" type="submit">
                                <strong>SEGUIR</strong>
                                <div id="container-stars">
                                  <div id="stars"></div>
                                </div>
                              
                                <div id="glow">
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                </div>
                              </button>
                        </form>

                        <!--<span class="seguido-por">Seguido por <span class="arroba">@</span>joao12 e 20+</span> 
                        <style>
                            .seguido-por{
                                font-size: 13px;
                                padding: 2px;
                                margin-top: 4px;
                                margin-bottom: 4px;
                            }
                        </style>
                        -->

                        <!-- Se o usuário da sessão não estiver seguindo o usuário do perfil, exiba o botão "Seguir" -->
                        <form method="post" action="/unfollow" th:if="${seguirStatusMap[usuario.id] == true}">
                            <button class="btn-perfil-follow-usuarios" id="btn-unfollow-usuarios" type="submit">
                                <strong>Seguindo</strong>
                                <div id="container-stars">
                                  <div id="stars"></div>
                                </div>
                              
                                <div id="glow">
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                </div>
                              </button>
                        </form>

                     </div>
                  </div>
                </div>
         </div> 
    </div>


    <footer>
        <ul>
            <li><a class="links-foot" th:href="@{/perfil}">Perfil</a></li>
            <li><a class="links-foot" th:href="@{/home}">Feed</a></li>
            <li><a class="links-foot" th:href="@{/usuarios}" style=" border-bottom: 4px solid rgb(255, 65, 65);">Usuarios</a></li>
            <li><a class="links-foot" th:href="@{/evento}">Evento</a></li>
        </ul>
    </footer>


    <script>
        var inputPesquisar = document.getElementById('input-pesquisar');
        var blocoUser = document.querySelector('.bloco-user');
        const left = document.getElementById('container-left');

        // Adicione um ouvinte de evento para o evento 'input' no input
        inputPesquisar.addEventListener('input', function() {
            if (inputPesquisar.value.length > 0) {
                blocoUser.style.display = 'none';
            } else {
                blocoUser.style.display = ""; 
            }
        });
    </script>

     <script src="/css/js/trocasContainer.js"></script>
</body>
</html>