@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #0a0b1d;
    font-family: 'Poppins';
}

h1{
  margin: 0;
}

.header {
  color: #fff; /* Cor do texto no header */
  padding: 5px; /* Espaçamento interno do header */
  display: flex; /* Ativar o layout flexbox para os elementos filho */
  justify-content: space-between; /* Espaçamento igual entre os elementos filho */
  align-items: center; /* Alinhar verticalmente os elementos filho */
}
  
.logo {
  margin: 0; /* Remover margens padrão */
  color: rgb(255, 65, 65);
}
  
.header ul {
  list-style: none; /* Remover marcadores de lista */
  padding: 0; /* Remover preenchimento da lista */
  display: flex; /* Ativar o layout flexbox para os links de perfil */
}
  
  .header li {
    margin: 0 10px 0 10px;
  }
  
  .links {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none; 
    color: white; 
    
  }
  .header a:hover {
    color: rgb(255, 52, 52);
  }

  .ulContainer {
    background: rgba(255, 255, 255, 0.2); /* Cor de fundo com transparência */
    backdrop-filter: blur(10px); /* Efeito de vidro com desfoque (ajuste o valor conforme necessário) */
    border-radius: 10px; /* Borda arredondada (ajuste conforme necessário) */
    list-style: none; /* Remova os marcadores de lista */
  }
  
  
  .ulContainer a {
    text-decoration: none; /* Remova a decoração do link */
    color: white; /* Cor do texto */
    display: block; /* Torna todo o conteúdo do item da lista clicável */
  } 
  .logo {
    font-size: 2.5rem;
    margin: 0; /* Remover margens padrão */
    color: rgb(255, 65, 65);
    padding-left: 10px;
  }
  
  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: -20%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }


/* Estilo para a div que envolve todo o conteúdo */
.container {
  display: flex;
  justify-content: space-between; 
  padding: 20px; 
}

/* Estilos para as três partes */
.left-sidebar {
  width: 25%;
  background-color: #f0f0f0; /* Cor de fundo do lado esquerdo */
  padding: 20px;
}

.arroba{
  color: rgb(255, 65, 65);
}

.center-content {
  display: block;
  width: 68%; /* Largura desejada para as divs */
  border-radius: 20px;
  text-align: center;
  background-color: #e0e0e0;
  border-radius: 20px;
}

.center-content, .left-sidebar{
  border-radius: 20px;
  text-align: center;
}

footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

/* Estilos para a lista no footer */
footer ul {
  display: flex;
  border-radius: 0.5rem;
  background-color: #EEE;
  padding: 0.25rem;
  justify-content: space-around;
  margin: 8px;
}

.links-foot{
  text-decoration: none;
  color: #000000;
  background-color: #fff;
  font-weight: 600;
}

@media (max-width: 500px) {
  footer {
    display: block!important;
  }
}

@media (max-width: 700px) {
  .ulContainer {
    display: none !important; /* Oculta o ulContainer */
  }
}


@media (max-width: 400px) {
  .left-sidebar, .right-sidebar{
    display: none !important; /* Oculta o ulContainer */
  }
  .center-content{
    width: 350px;
  }
}

#logo-inicio-home{
  width: 290px;
  margin-bottom: -38px;
}

#imgPerfil-vazio, .imgPerfil, #fotoExibida{
  width: 145px;
  height: 145px;
  border-radius: 50px;
}

.imgUsuarios{
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

/* Criar Evento */
.container-evento{
  display: block;
  flex-direction: column;
}

/* Inputs */

.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}

.inputGroup input {
  font-size: 15px;
  padding: 0.8em;
  color: #0F110D;
  outline: none;
  border: 2px solid rgb(150, 150, 200);
  background-color: transparent;
  border-radius: 18px;
  width: 200px;
  margin-left: 1.3em;
  height: 25px;
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
 
}

input[type="date"]:focus {
  background-color: #a5a5b0; /* Altere para a cor desejada */
  color: #0F110D;
}

/* Estilo para o input de arquivo por ID */
#fotoEvento {
  display: none; /* Esconder o input de arquivo real */
}

#upload-label {
  background-color:rgb(255, 32, 32);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 5px;
  
}

/* Estilo para o botão de envio por ID */
#enviar {
  background-color: #222;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

/* Estilo para o texto do nome do arquivo selecionado por ID */
#file-name {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
}

/* Botões */

#btn-criar-evento {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 16px;
  color: #25142d;
  border: 2px solid #25142d;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

#btn-criar-evento::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #25142d;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

#btn-criar-evento:hover::before {
  scale: 3;
}

#btn-criar-evento:hover {
  color: #e8e8e8;
  scale: 1.1;
  box-shadow: 0 0px 20px #25142d;
}

#btn-criar-evento:active {
  scale: 1;
}

