@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background-image: url('/css/img/fundo.webp');
}

.header {
  padding: 0 5px; /* Espaçamento interno do header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
  
.header ul {
  list-style: none; 
  padding: 0 10px;
  display: flex;
}
  
.header li {
  margin: 0 10px 0 10px;
}

.ulContainer {          
  backdrop-filter: blur(20px); /* Efeito de vidro com desfoque (ajuste o valor conforme necessário) */
  border-radius: 30px; /* Borda arredondada (ajuste conforme necessário) */
  list-style: none; /* Remova os marcadores de lista */
}

/* Estilo padrão para o ícone e a linha */ 
.icon-container {
  position: relative;
}

.icon {
 width: 40px; /* Defina o tamanho desejado para o ícone */
 height: 40px;
 padding: 10px;
}

/* Linha em baixo dos links */
.line {
  position: absolute;
  width: 100%;
  height: 4px; 
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
}

/* Efeito de linha ao passar o mouse */
.icon-container:hover .line {
  background-color:  rgb(255, 69, 69); /* Cor da linha ao passar o mouse */
}

/* Botão para Sair do GoParty  Começa Aqui !!*/
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}
  
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sign svg {
  width: 17px;
}
  
.sign svg path {
  fill: white;
  }

  /* text */
  .text {
    position: absolute;
    right: -20%!important;
    width: 0%;
    opacity: 0;
    color: white!important;
    font-size: 1.2em!important;
    font-weight: 600!important;
    transition-duration: .3s!important;
  }

/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}
  
.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

/* hover effect button's text */
  
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}
/* Botão para Sair do GoParty  Termina Aqui !!*/

/* Estilo para a div que envolve todo o conteúdo */
.container {
  display: flex;
  justify-content: space-between; 
  padding: 20px; 
  margin-top: 100px;
}

/* Estilos para as Duas partes */
.left-sidebar {
  width: 25%;
  background-color: #f0f0f0; /* Cor de fundo do lado esquerdo */
  padding: 20px;
}

.left-sidebar-perfil {
  width: 25%;
  background-color: #f0f0f0; /* Cor de fundo do lado esquerdo */
  padding: 20px;
}

.arroba{
  font-weight: bold;
  color: rgb(255, 65, 65);
}

/* Container Principal */
.center-content {
  display: block;
  width: 67%; 
  border-radius: 20px;
  text-align: center;
  background-color: #e0e0e0;
  border-radius: 20px;
}

.center-content, .left-sidebar, .left-sidebar-perfil{
  border-radius: 20px;
  text-align: center;
} 

footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
}

/* Estilos para a lista no footer */
footer ul {
  display: flex;
  border-radius: 0.5rem;
  background-color: #EEE;
  padding: 0.25rem;
  justify-content: space-around;
  margin: 8px;
}

.links-foot{
  text-decoration: none;
  color: #000000;
  background-color: #fff;
  font-weight: 600;
}

#logo-inicio-home{
  width: 290px;
  backdrop-filter: blur(5px); /* Efeito de vidro com desfoque (ajuste o valor conforme necessário) */
  border-radius: 30px;
}

#imgPerfil-vazio, .imgPerfil, #fotoExibida{
  width: 145px;
  border-radius: 50px;
}

/* Bloco de Usuarios */
.bloco-user {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin-left: 10%;
  margin-top: 4%;
}

.usuario-bloco {
  width: 26%;
  height: 13rem;
  background-color: #ccc;
  text-align: center;
  padding: 10px;
  border-radius: 46px;
  border-style: double;
  box-shadow: #000;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.btn-excluir {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.btn-excluir:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.btn-excluir:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.btn-excluir::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.btn-excluir:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.Btn-editar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(20, 20, 20);
  margin: 10px;
}

/* Botão deletar Post */
.delete-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* Botão de Editar Post */
.edit-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(0, 179, 220);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}


/* plus sign */
.sign {
  width: 100%;
  font-size: 2em;
  color: white;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* text */
.text {
  position: absolute;
  right: -15%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn-editar:hover {
  width: 125px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(0, 179, 220);
}

.Btn-editar:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

/* hover effect button's text */
.Btn-editar:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 20px;
}
/* button click effect*/
.Btn-editar:active {
  transform: translate(2px ,2px);
}

.btn-perfil a{
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-perfil {
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(161, 255, 20);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.btn-perfil:hover {
  background-color: rgb(192, 255, 20);
  transition-duration: .5s;
}

.btn-perfil:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.btn-perfil:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

/* Bloco aonde fica os botões */
.altera{
  display: flex;
  text-align: center;
  justify-content: center;
}

.edit-form {
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.upload-foto:hover{
  color: #FF2525;
  transition: 1s;
  cursor: pointer;
}

.edit-form input[type="text"] {
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-form input[type="password"] {
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.edit-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.edit-form button:hover {
  background-color: #004b9b;
  
}

/* Imagem de Perfil usuarios que ficara de perfil */
#imgPerfil-vazio, .imgPerfil, #fotoExibida{
  width: 145px;
  border-radius: 65px;
}

/* Imagem de Perfil de usuarios */
.imgUsuarios{
  max-width: 130px;
  max-height: 120px;
  border-radius: 35px;
}

#fotoPerfil {
  display: none; /* Esconder o input de arquivo real */
}

.descricaoUser{
  margin-top: -20px;
  color: #25142d;
}

/* Layout do Feed */
.evento-bloco{
  display: flex;
  background:  #ffffff;
  margin: 20px;
  border-radius: 20px;
}

.bloco-evento-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 50%;
}
.bloco-evento-right{
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;  
}


.evento-up{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.imgEvento {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

/* Modal de Edições */
.modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 35%;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.editar-evento {
  display: block;
  text-align: center;
  height: 100%;
  width: 400px;
  background-color:#212121;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.fechar{
  color: #f0f0f0;
  background: rgb(42, 42, 42);
  border-radius: 50%;
  padding: 8px;
  
}
.fechar:hover{
  background:  rgb(255, 69, 69);
}

.editar-evento input {
  display: block;
  width: 100%;
  margin-bottom: 10px; /* Espaçamento entre os elementos */
}
.editar-evento textarea{
height: 120px;
}
.editar-evento input[type="text"],
.editar-evento textarea {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.editar-evento input[type="text"]:focus,
.editar-evento textarea:focus {
  border-color: #007bff; /* Cor da borda quando o campo está em foco */
}

.editar-evento input[type="text"]::placeholder,
.editar-evento textarea::placeholder {
  color: #888; /* Cor do texto de placeholder */
}

.editar-evento input[type="file"] {
border-radius: 10px;
background: #ffffff;
padding: 5px;
width: 98%;
}
.btn-foto{
background: #25142d;
}

.ui-btn {
--btn-default-bg: rgb(41, 41, 41);
--btn-padding: 15px 20px;
--btn-hover-bg: rgb(51, 51, 51);
--btn-transition: .3s;
--btn-letter-spacing: .1rem;
--btn-animation-duration: 1.2s;
--btn-shadow-color: rgba(0, 0, 0, 0.137);
--btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
--hover-btn-color: #FAC921;
--default-btn-color: #fff;
--font-size: 16px;
/* 👆 this field should not be empty */
--font-weight: 600;
--font-family: Menlo,Roboto Mono,monospace;
/* 👆 this field should not be empty */
}

/* button Salvar Evento 👆 */
.ui-btn {
box-sizing: border-box;
padding: var(--btn-padding);
align-items: center;
justify-content: center;
color: var(--default-btn-color);
font: var(--font-weight) var(--font-size) var(--font-family);
background: var(--btn-default-bg);
border-radius: 20px;
border: none;
cursor: pointer;
transition: var(--btn-transition);
overflow: hidden;
box-shadow: var(--btn-shadow);
margin: 10px;
}

.ui-btn span {
letter-spacing: var(--btn-letter-spacing);
transition: var(--btn-transition);
box-sizing: border-box;
position: relative;
background: inherit;
}

.ui-btn span::before {
box-sizing: border-box;
position: absolute;
content: "";
background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
0% {
  content: "#";
}

5% {
  content: ".";
}

10% {
  content: "^{";
}

15% {
  content: "-!";
}

20% {
  content: "#$_";
}

25% {
  content: "№:0";
}

30% {
  content: "#{+.";
}

35% {
  content: "@}-?";
}

40% {
  content: "?{4@%";
}

45% {
  content: "=.,^!";
}

50% {
  content: "?2@%";
}

55% {
  content: "\;1}]";
}

60% {
  content: "?{%:%";
  right: 0;
}

65% {
  content: "|{f[4";
  right: 0;
}

70% {
  content: "{4%0%";
  right: 0;
}

75% {
  content: "'1_0<";
  right: 0;
}

80% {
  content: "{0%";
  right: 0;
}

85% {
  content: "]>'";
  right: 0;
}

90% {
  content: "4";
  right: 0;
}

95% {
  content: "2";
  right: 0;
}

100% {
  content: "";
  right: 0;
}
}

/* Largura máxima de 400px */
@media (max-width: 400px) {
  .left-sidebar,
  .right-sidebar {
    display: none !important; /* Oculta a barra lateral esquerda e direita */
  }

  .container {
    display: block; /* Container do Perfil fica acima do Feed de Usuário */
  }

  .left-sidebar-perfil {
    width: 310px;
  }

  .center-content {
    width: 350px;
    display: block;
  }

  .evento-bloco {
    flex-direction: column;
  }

  .bloco-evento-right {
    width: 100%;
  }

  .modal {
    top: 20%;
    left: 0%;
    width: 350px;
  }

  .editar-evento {
    width: 350px;
  }

  .usuario-bloco {
    width: 40% !important;
  }
}

/* Largura máxima de 500px */
@media (max-width: 500px) {
  footer {
    display: block !important;
  }
  
  .usuario-bloco {
    width: 40% !important;
  }
  .bloco-evento-left{
    width: 100%;
  }
}

/* Largura máxima de 700px */
@media (max-width: 800px) {
  .ulContainer {
    display: none !important; /* Oculta o ulContainer */
  }
}

/* Exclusao de conta */

.excluindo-conta-container{
  display: none;
  color: #ddd;
  margin-left: 370px;
  justify-content: center;
  align-items: center;
  background-color: #25142d;
  border: 2px solid #ddd;
  border-radius: 25px;
  width: 300px;
  height: 240px;
  opacity: 1;
 }

 .loader img{
  width: 300px;
  height: 90px;
 }

 #carregamento-exclusao {
  display: flex;
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
  margin-left: 124px;
  }
  
  circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
  }
  
  @keyframes rotate4 {
  100% {
  transform: rotate(360deg);
  }
  }
  
  @keyframes dash4 {
  0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  }
  
  50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
  }
  
  100% {
  stroke-dashoffset: -125px;
   }
  }

  /* Estilo para aplicar baixa opacidade ao corpo */
body.is-blurred {
  opacity: 0.3;
  pointer-events: none; 
}

/* Estilize o bloco de comentários */
.comentarios {
  list-style-type: none; /* Remova os marcadores de lista padrão */
  padding: 0; /* Remova o preenchimento padrão da lista */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilize o bloco do usuário (nome de usuário precedido por "@") */
.bloco-usuario {
  display: flex; /* Use um layout flexível para alinhar os elementos lado a lado */
  align-items: center; /* Alinhe os itens verticalmente ao centro */
  margin-bottom: 5px; /* Adicione um espaço entre o bloco do usuário e o bloco de comentário */
}

.bloco-usuario p {
  font-weight: bold;
  margin: 0;
}

/* Estilize o bloco de comentário */
.bloco-comentario {
  display: flex;
  margin-top: -20px;
  margin-bottom: -10px;
}

.chatBtn {
  margin: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B, #FF2525,#FFE53B);
  cursor: pointer;
  padding-top: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
  position: relative;
  background-size: 300%;
  background-position: left;
  transition-duration: 1s;
}

.tooltip {
  position: absolute;
  top: -40px;
  opacity: 0;
  background-color: rgb(255, 180, 82);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.chatBtn:hover .tooltip {
  opacity: 1;
  transition-duration: .5s;
}

.chatBtn:hover {
  background-position: right;
  transition-duration: 1s;
}

.alteracoes{
  display: flex;
  align-items: center;
}

/* Seguidores e seguindo */

.qtde-seguir{
  color: rgb(255, 65, 65);
}

/* Classe para retirar os comentarios */
.hidden {
  display: none;
}

.ul-comentarios{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bloco-evento-comenta{
  display: flex;
  margin: 10px;
}

.bloco-evento-comenta input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    transition: border-color 0.2s;
}

.bloco-evento-comenta input:focus{
    border-color: #007bff; /* Cor da borda quando o campo está em foco */
}

.bloco-evento-comenta input::placeholder
 {
    color: #888; /* Cor do texto de placeholder */
}



.seguidores-seguindo-container a{
  font-size: 18px;
  text-decoration: none;
}

/* Search bar */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 18px;
  border-radius: 35px;
  margin-left: -5px;
  
}

.input-pesquisa{
  padding: 10px;
}

.input-pesquisa h1{
  text-shadow: #25142d;
}

/* btn de follow  */

.btn-perfil-follow {
  justify-content: center;
  align-items: center;
  width:70%;
  overflow: hidden;
  height: 2.8rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
 
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-size: 12px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn-perfil-follow:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn-perfil-follow:hover {
  transform: scale(1.1)
}

.btn-perfil-follow:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn-perfil-follow:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* checkbox curtir */

.con-like {
  --red: rgba(45, 2, 39, 0.267);
  position: relative;
  width: 50px;
  height: 50px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

.heart-container {
  --heart-color: rgb(255, 91, 137);
  position: relative;
  width: 50px;
  height: 50px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

.evento-curtidas{
  display: flex;
  gap: 5px;
  margin: 10px;
}

/* inspired form gumroad website */
.curtir, .descurtir{
  width: 85px;
  
}
.curtir{
  --bg: rgb(255, 65, 65);
  --hover-bg: rgb(255, 38, 38);
  --hover-text: #000;
  color: #fff;
  font-weight: bold;
  border: 1px solid var(--bg);
  border-radius: 6px;
  padding: 0.4em 1em;
  background: var(--bg);
  transition: 0.2s;
}

.curtir:hover {
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.curtir:active {
  transform: translate(0);
  box-shadow: none;
}

/* inspired from the gumroad website */
.descurtir {
  --bg: rgb(83, 69, 148);
  --hover-bg: rgb(43, 35, 77);
  --hover-text: #000;
  color: #fff;
  font-weight: bold;
  border: 1px solid var(--bg);
  border-radius: 6px;
  padding: 0.4em 1em;
  background: var(--bg);
  transition: 0.2s;
}

.descurtir:hover {
  transform: translate(0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: -0.25rem 0.25rem var(--bg);
}

.descurtir:active {
  transform: translate(0);
  box-shadow: none;
}

.bloco-notificacoes{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bloco-notificacoes ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.imgNoti{
  max-width: 60px;
  border-radius: 40px;
  margin-right: 5px;
}

.lista-notificacoes{
  display: flex;
  align-items: center;
}

.notifications{
  font-weight: bold;
}

.contador-notificacao {
  position: relative;
}

.circulo {
  width: 22px; 
  height: 22px;
  background-color: red;
  color: white; 
  border-radius: 50%; 
  text-align: center;
  line-height: 22px; 
  position: absolute;
  top: -7px; 
  right: -7px; 
}

/* Botao de curtir (TESTE) */

.Btn-curtir {
  width: 140px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 17px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
  cursor: pointer;
  background-color: transparent;
}

.leftContainer {
  width: 60%;
  height: 100%;
  background-color: #25142d;
  display: flex;
  align-items: center;
  border-radius: 17px;
  justify-content: center;
  gap: 8px;
}

.leftContainer .like {
  color: white;
  font-weight: 600;
}

.likeCount {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(238, 0, 0);
  font-weight: 600;
  position: relative;
  background-color: white;
}

.likeCount::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  left: -4px;
}

.Btn-curtir:hover .leftContainer {
  background-color: rgb(219, 0, 0);
}

.Btn-curtir:active .leftContainer {
  background-color: rgb(201, 0, 0);
}

.Btn-curtir:active .leftContainer svg {
  transform: scale(1.15);
  transform-origin: top;
}

/* Botao de descurtir (TESTE) */

.Btn-descurtir {
  width: 140px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 17px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
  cursor: pointer;
  
}

.leftContainer {
  width: 60%;
  height: 100%;
  background-color: #25142d;
  display: flex;
  align-items: center;
  border-radius: 17px;
  justify-content: center;
  gap: 8px;
}

.leftContainer .like {
  color: white;
  font-weight: 600;
}

.likeCount {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(238, 0, 0);
  font-weight: 600;
  position: relative;
  background-color: white;
}

.likeCount::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  left: -4px;
}

.Btn-descurtir:hover .leftContainer {
  background-color: rgb(219, 0, 0);
}

.Btn-descurtir:active .leftContainer {
  background-color: rgb(201, 0, 0);
}

.Btn-descurtir:active .leftContainer svg {
  transform: scale(1.15);
  transform-origin: top;
}

.notification-container{
  border: 1px solid #ccc;
  border-radius: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px
}

/* Limpar notis */
.Btn-limpar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #25142d;
}

/* plus sign */
.limpar-notis {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.limpar-notis svg {
  width: 17px;
}

.limpar-notis svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn-limpar:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn-limpar:hover .limpar-notis {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn-limpar:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn-limpar:active {
  transform: translate(2px ,2px);
}

.noti-topo{
  display: flex;
  align-items: center ;
  justify-content: space-between;
  width: 100%;
}

/* Tela de seguir e deixar de seguir USUARIOS  */

.btn-perfil-follow-usuarios {
  justify-content: center;
  align-items: center;
  width: 48%;
  overflow: hidden;
  height: 2.1rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
 
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-size: 10px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn-perfil-follow-usuarioshover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn-perfil-follow-usuarioshover {
  transform: scale(1.1)
}

.btn-perfil-follow-usuarios:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn-perfil-follow-usuarios:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Estilo para o botão quando clicado */
.active-button {
  border-bottom: 4px solid rgb(255, 69, 69);
}

