@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #0a0b1d;
    font-family: 'Poppins';
}

h1{
  margin: 0;
}

.header {
  color: #fff; /* Cor do texto no header */
  padding: 0px 5px; /* Espaçamento interno do header */
  display: flex; /* Ativar o layout flexbox para os elementos filho */
  justify-content: space-between; /* Espaçamento igual entre os elementos filho */
  align-items: center; /* Alinhar verticalmente os elementos filho */
}
  
.logo {
  font-size: 2.5rem;
  margin: 0; /* Remover margens padrão */
  color: rgb(255, 65, 65);
  padding-left: 10px;
}
  
.header ul {
  list-style: none; /* Remover marcadores de lista */
  padding: 0; /* Remover preenchimento da lista */
  display: flex; /* Ativar o layout flexbox para os links de perfil */
}
  
  .header li {
    margin: 0 10px 0 10px;
  }
  
  .links  {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none; 
    color: white; 
    
}
.header a:hover {
  color: rgb(255, 52, 52);
}
/* rgba(255, 255, 255, 0.2 */
.ulContainer {
  
  background: #25142d; /* Cor de fundo com transparência */
  backdrop-filter: blur(10px); /* Efeito de vidro com desfoque (ajuste o valor conforme necessário) */
  border-radius: 10px; /* Borda arredondada (ajuste conforme necessário) */
  list-style: none; /* Remova os marcadores de lista */
  box-shadow: #25142d;
}
  
  
.ulContainer a {
  text-decoration: none; /* Remova a decoração do link */
  color: white; /* Cor do texto */
  display: block; /* Torna todo o conteúdo do item da lista clicável */
}  

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}
  
  /* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.sign svg {
  width: 17px;
}
  
.sign svg path {
  fill: white;
}
  /* text */
.text {
  position: absolute;
  right: -20%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }


/* Estilo para a div que envolve todo o conteúdo */
.container {
  display: flex;
  justify-content: space-between; 
  padding: 20px; 
}

.arroba{
  color: rgb(255, 65, 65);
}

/* Estilos para as três partes */
.left-sidebar {
  width: 25%;
  background-color: #f0f0f0; /* Cor de fundo do lado esquerdo */
  padding: 20px;
}

.center-content {
  display: block;
  width: 68%; /* Largura desejada para as divs */
  border-radius: 20px;
  text-align: center;
  background-color: #e0e0e0;
  border-radius: 20px;
}

.center-content, .left-sidebar{
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}



/* Bloco de Usuarios */
.bloco-user {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 500px) {
  .usuario-bloco{
    width: 40%!important;
    height: 120px!important;
  }
}

.usuario-bloco {
  width: 29%;
  background-color: #ccc;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

/* Padrões de Botão */
.btn-1:hover{
  background: rgb(232, 30, 30);
}

.btn-1 {
    border-radius: 20px;
    border: 1px solid #000000;
    background: rgb(255, 65, 65);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top:20px;
}

.btn-1:active {
    transform: scale(.95);
}

.btn-1:focus {
    outline: none;
}

.btn-2:hover{
  background: black;
}

.btn-2 {
    border-radius: 20px;
    border: 1px solid #000000;
    background: #151515;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top:20px;
}

.btn-2:active {
    transform: scale(.95);
}

.btn-2:focus {
    outline: none;
}

.btn-3:hover{
  background: rgb(232, 30, 30);
}

.btn-3 {
    border-radius: 20px;
    border: 1px solid #b42e2e;
    background: rgb(255, 65, 65);
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 7px 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    font-weight: bold;
}

.btn-3:active {
    transform: scale(.95);
}

.btn-3:focus {
    outline: none;
}

.btn-4:hover{
  background: black;
}

.btn-4 a{
  text-decoration: none;
}
.btn-4 {
    border-radius: 20px;
    border: 1px solid #000000;
    background: #151515;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 7px 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    font-weight: bold;
}

.btn-4:active {
    transform: scale(.95);
}

.btn-4:focus {
    outline: none;
}

.btn-excluir {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.btn-excluir:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.btn-excluir:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.btn-excluir::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.btn-excluir:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

.Btn-editar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(20, 20, 20);
  margin: 10px;
}

/* plus sign */
.sign {
  width: 100%;
  font-size: 2em;
  color: white;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* text */
.text {
  position: absolute;
  right: -15%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn-editar:hover {
  width: 125px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(0, 179, 220);
}

.Btn-editar:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn-editar:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 20px;
}
/* button click effect*/
.Btn-editar:active {
  transform: translate(2px ,2px);
}

.btn-perfil a{
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  
}


.btn-perfil {
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(161, 255, 20);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.btn-perfil:hover {
  background-color: rgb(192, 255, 20);
  transition-duration: .5s;
}

.btn-perfil:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.btn-perfil:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}



/* Bloco aonde fica os botões */
.altera{
  display: flex;
  text-align: center;
  justify-content: center;
}

.edit-form {
  padding: 20px;
  max-width: 300px;
  margin: 0 auto; /* Isso centraliza o formulário horizontalmente */
  text-align: center;
}

.edit-form input[type="text"] {
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-form input[type="password"] {
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.edit-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
.edit-form button:hover {
  background-color: #004b9b;
  
}

/* Imagem de Perfil usuarios que ficara de perfil */
#imgPerfil-vazio, .imgPerfil, #fotoExibida{
  width: 145px;
  border-radius: 50px;
}

.imgUsuarios{
  width: 100px;
  border-radius: 20px;
}

/* Consulta de mídia para mostrar o footer em telas com menos de 500px */
/* Estilos para o footer (invisível por padrão) */
footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

/* Estilos para a lista no footer */
footer ul {
  display: flex;
  border-radius: 0.5rem;
  background-color: #EEE;
  padding: 0.25rem;
  justify-content: space-around;
  margin: 8px;
}

.links-foot{
  text-decoration: none;
  color: #000000;
  background-color: #fff;
  font-weight: 600;
}

@media (max-width: 500px) {
  footer {
    display: block!important;
  }
}

@media (max-width: 700px) {
  .ulContainer {
    display: none !important; /* Oculta o ulContainer */
  }
}

@media (max-width: 400px) {
  .left-sidebar, .right-sidebar{
    display: none !important; /* Oculta o ulContainer */
  }
  .center-content{
    width: 350px;
  }
  
}

#logo-inicio-home{
  width: 290px;
  margin-bottom: -10px;
}

/* Estilo para o input de arquivo por ID */
#fotoPerfil {
  display: none; /* Esconder o input de arquivo real */
}

#upload-label {
  background-color:rgb(255, 32, 32);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 5px;
  
}

/* Estilo para o botão de envio por ID */
#enviar {
  background-color: #222;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

/* Estilo para o texto do nome do arquivo selecionado por ID */
#file-name {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
}
