body{
    background-color: #0F110D;
}

/* Container de inputs*/

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    position: relative;
  }

  .inputGroup input {
    font-size: 15px;
    padding: 0.8em;
    color: #ddd;
    outline: none;
    border: 2px solid rgb(150, 150, 200);
    background-color: transparent;
    border-radius: 18px;
    width: 400px;
    height: 50px;
  }

  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }

  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  
  }

  input[type="date"]:focus {
    background-color: #a5a5b0; /* Altere para a cor desejada */
    color: #0F110D;
  }

  /* Botao*/

  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 16px;
    color: #e8e8e8;
    border: 2px solid #25142d;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #25142d;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 6;
  }
  
  .button:hover {
    color: #e8e8e8;
    scale: 1.1;
    box-shadow: 0 0px 20px #25142d;
  }
  
  .button:active {
    scale: 1;
  }

  /* Div de codigo */

  #envioDoCodigo{
    display: none;
  }

  .texto-titulos{
    color: #ddd;
    text-shadow: #25142d;
  }