@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
  color: #000000;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

input:required{
    color: #000000;
}

input{
    width: 40px;
    border-radius: 11px;
}

/*Mostrar Senha */
.password-container {
    position: relative;
    display: inline-block;
  }

  #senhaTroca {
    padding-right: 30px;
  }

  .password-toggle {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #ddd;
    border-radius: 3px;
    cursor: pointer;
  }

body {
    background-color: #0a0b1d;
    margin: 0; 
}

h1 {
    margin: 0; 
    color: rgb(255, 65, 65);
    font-size: 3.5rem!important;
}
h2{
    color: rgb(255, 65, 65);
    font-size: 2.0rem;
}

span{
    color: white;
    font-size: 1.2rem; 
    font-weight: bold;   
}

p{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.container {
    display: contents;
    background: #0a0b1d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    max-width: 100vh;
    min-height: 100vh; /* Altura ocupará 100% da altura da tela */
    margin: 0 auto; /* Centraliza horizontalmente na tela */
}


.form-container form {
    background: #0a0b1d;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button:hover{
  background: rgb(232, 30, 30);
}

 button {
    border-radius: 20px;
    border: 1px solid #000000;
    background: rgb(255, 65, 65);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top:20px;
}

button:active {
    transform: scale(.95);
}

 button:focus {
    outline: none;
}

button.ghost {
    background: #151515;
    border-color: black;
}
 button.ghost:hover{
  background: #000000;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    z-index: 1;
    opacity: 0;
    position: absolute; /* Altere para absoluta */
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ffffff;
    background: #0F110D;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
    display: none;
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}

.error-message {
    background-color: #f44336;
    color: rgb(255, 255, 255)!important;
    padding: 5px 10px;
    border-radius: 40px; 
    margin-top: 10px;
    text-align: center; 
    font-weight: bold; 
}

/* Check Box Senha */
/*------ Settings ------*/
.check-pass {
    --color: #a5a5b0;
    --size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    padding: 15px;
  }
  
  .check-pass .eye {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .check-pass .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
  }
  
  /* ------ On check event ------ */
  .check-pass input:checked ~ .eye {
    display: none;
  }
  
  .check-pass input:checked ~ .eye-slash {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .check-pass input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2);
    }
  }

  /* Estilos para o modal */
#idade-nao-permitida{
    display: none;
    align-items: center;
    width: 370px;
    height: 20px;
    color: #151515;
    background-color: #e11313;
    border-radius: 9px;
    padding: 10px;
}

#idade-nao-permitida p{
    font-size: 10px;
    color: #151515;
}

#idade-nao-permitida span{
    padding: 10px;
    font-size: 10px;
    color: #151515;
}

/* Teste de estilização inputs */

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 15px;
    padding: 0.8em;
    color: #ddd;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 18px;
    width: 400px;
    height: 50px;
  }
  
 .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }
  
 .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }

  input[type="date"]:focus {
    background-color: #a5a5b0; /* Altere para a cor desejada */
    color: #0F110D;
  }

  /* Novos botões */

  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }


  /* Form de Foto perfil */
  #form-enviar-ft{
     display: flex;
     align-items: center;
     border-radius: 20px;
     border: 1px solid red;

  }
  